.activitytext {
  background-color: purple;
  text-align: center;
  padding: 80px;
}
.loggedout {
  color: black;
}
.averagCalories {
  border: solid;
  margin: 50px;
  margin-left: 20%;
  margin-right: 20%;
}
.caloricavg {
  color: black;
}
